* {
  box-sizing: border-box;
}
:root {
  --primary-color: #FFB900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
header{
  background: #fffcf4;
}
header .body {
  align-items: center;
}
a {
  text-decoration: none;
}
.fixed .body {
  display: flex;
}
nav {
  margin-left: auto;
}
nav ul {
  display: flex;
}
nav a {
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  margin: 0px 21px;
  position: relative;
}

nav a:hover {
  color: #171100;
  text-shadow: 0.8px 0 0 currentColor;
}

nav a::after {
  content: "";

  width: 0px;
  height: 2px;
  left: 0px;
  display: block;
  position: absolute;
  background: #171100;
  transition: all 0.3s ease;
}
nav a:hover::after {
  width: 100%;
}

.fixed {
  position: sticky;
  top: -28px;
  padding-top: 35px;
  padding-bottom: 8px;
  z-index: 1000;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn :hover{
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn1 {
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
  font-weight: 600;
  margin-left: 49px;
  min-width: 144px;
}
.btn1:hover{
  background: #FFB900;
}

.btn2 {
  padding: 0px 34px;
  border-radius: 32px;
  background: #000000;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 64px;
}
.btn2:hover {
  background: #FFB900;
 
}
.common {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.left-box .img {
  width: 470px;
  height: 685px;
}
.left-box {
  position: relative;
}
.media-box {
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 393px;
  left: 300px;
  padding: 24px;
}
.small-box {
  align-items: center;
}

.box2,
.box3 {
  margin-top: 22px;
}
.box3 {
  margin-bottom: 24px;
}

.label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
.title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.icon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon1 {
  background-color: #fff9e8;
}
.icon2 {
  background-color: #fcefff;
}
.icon3 {
  background-color: #ebeaff;
}
.small-box {
  display: flex;
}
.box-leftright {
  display: flex;
}
.right-box {
  padding-left: 230px;
  padding-top: 64px;
}

.right-box .text1 {
  color: #171100;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
  font-family: Sen;
}
.right-box .text2 {
  color: #5f5b53;
  margin-top: 22px;
  font-size: 18px;
  line-height: 1.67;
}
.watch-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.button1 {
  border: none;
  background-color: #ffffff;
  color: #000000; /* Đổi màu chữ trắng cho dễ nhìn */
  display: flex;
  align-items: center;
  margin-left: 28px;
}
.button1 span {
  margin-left: 14px;
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
}
.iconn {
  display: flex;
  margin-top: 38px;
}

.flex-k {
  display: flex;
}
.flex-k span {
  color: #171100;
  font-family: Sen;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.23;
}
.flex-k .tt {
  margin-left: 29px;
}

.recent {
  color: #5f5b53;
  margin-top: 48px;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 8px;
}
.hero {
  background: #fffcf4;
  padding-bottom: 66px;
  padding-top: 64px;
}

.text-icon .text .p1 {
  color: #171100;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}
.text-icon .text .p2 {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  width: 458px;
}
.text-icon .text {
  display: flex;
  align-items: center;
}
.text-icon .text .icon {
  margin-left: auto;
  width: 98px;
  height: 40px;
}

.first-line {
  display: flex;
}
.first-line div {
  align-content: center;
  margin-left: auto;
}
.first-line .p1 {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
}
.first-line .p2 {
  color: #fea31b;
  font-size: 1.6rem;

  font-weight: 400;
  line-height: 1.75;
}
.pic-box {
  width: 370px;
  height: 466px;
  border: 1px solid #e2dfda;
  border-radius: 12px;
  margin-top: 55px;
}
.outside-box {
  margin-left: 22px;
  margin-right: 22px;
}

.second-line p {
  color: #5f5b53;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  margin-top: 6px;
}
.third-line p {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
}
.third-line {
  display: flex;
  margin-top: 12px;
}
.third-line a {
  margin-left: auto;
  background: #000000;
  padding: 0px 24px;
  font-weight: 600;
  font-size: 14px;
  min-width: 118px;
  line-height: 50px;
}

.popular {
  margin: 200px 0px;
}
.popular .text .p2 {
  margin-top: 16px;
}
.popular .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .controls {
  display: flex;
  gap: 18px;
}

.popular .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular .control-btn:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
.first-line {
  margin-top: 16px;
}
.picbox {
  display: flex;
  gap: 30px;
}
.feed-back {
  background: #2e2100;
  margin-top: 135px;
  padding: 96px 0;
}
.feed-back .avatar {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  overflow: hidden;
}
.feed-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feed-back .common .left p:nth-of-type(1) {
  color: #f7f7f7;
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.42;
  margin-top: 18px;
}
.feed-back .common .left p:nth-of-type(2) {
  color: #bfbcb2;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  margin-top: 4px;
}
.feed-back .common .left .icon {
  width: 6px;
  height: 6px;
  background-color: #634700;
}
.feed-back .common .left .icon:hover {
  background-color: #d9a31a;
  cursor: pointer;
}
.feed-back .common .left .div {
  display: flex;
  gap: 6px;
  margin-top: 28px;
}
.feed-back .common .right div {
  width: 30px;
  height: 28px;
}
.feed-back .flexx {
  display: flex;
}
.feed-back .common .right blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53;
  width: 740px;
}
.feed-back .common .right {
  margin-left: auto;
  width: 66%;
}

.market1 img {
  object-fit: cover;
  width: 270px;
  height: 404px;
  border-radius: 16px;
}
.market .right .btn1 {
  background: #000000;
}
.market1 .left {
  display: flex;
}
.market .left .img1 {
  margin-top: 34px;
}
.market .left .img2 {
  margin-left: 30px;
}
.market1 {
  margin-top: 182px;
  display: flex;
  justify-content: space-between;
}
.market .market1 .right h1 {
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
.market .market1 .right {
  width: 41%;
  display: flex;
  flex-direction: column; /*quant trong can luu y*/
  justify-content: center;
}
.market .market1 .right p {
  color: #5f5b53;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  width: 458px;
  margin-top: 16px;
}
.market .market1 .right .btn1 {
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: #000000;
  margin-left: 0;
  margin-top: 32px;
}
.market .market1 .right .btn1:hover{
  background: #FFB900;
}
.market2 {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
}

.market2 .left h2 {
  width: 570px;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}
.market2 .left p {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 16px;
  width: 570px;
}

.market .market2 .left .btn1 {
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: #000000;
  margin-left: 0;
  margin-top: 32px;
}
.market .market2 .left .btn1:hover {
  background: #FFB900;
}
.market .market2 .right img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}
.market .market2 .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*-------------------blog----------------------------*/
.blog h2 {
  color: #130606;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}
.blog .title .pp {
  color: #696262;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  margin: auto;
  margin-top: 16px;
  width: 448px;
}
.blog .title h2,
.pp {
  text-align: center;
}
.blog .title {
  padding-top: 96px;
}

.blog .content {
  margin-top: 55px;
}
.blog .content .box img {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}
.blog .content .box {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog .texxt .icon-n {
  width: 6px;
  height: 6px;
  background-color: #ffb900;
  border-radius: 999px;
  align-items: center;
}

.blog .div {
  display: flex;
  align-items: center;
}
.blog .texxt {
  padding: 20px;
}
.blog .content .texxt .div p {
  color: #5f5b53;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;
  margin-left: 4px;
}
.ii {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin-top: 12px;
  margin-bottom: 12px;
}
.blog .content .texxt .textt {
  color: #171100;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
  width: 330px;
}
.blog .box a {
  border-radius: 25px;
  background: #000000;
  margin-left: 0;
  margin-top: 12px;
}
.blog .box a:hover {
  background: #FFB900;
}
.blog {
  background: #fffcf4;
  height: 878px;
}
.blog .i-con div:hover {
  background: #FFB900;  
  cursor: pointer;
}
.cover-box {
  display: flex;
  gap: 30px;
}
.i-con div {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: #5f5b53;
}
.i-con {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  gap: 6px;
}
.ft1-Ic {
  display: flex;
  gap: 18px;
}
footer {
  background: #2e2100;
}
footer p {
  color: #bfbcb2;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;
}
footer .common {
  display: flex;
  padding-top: 96px;
  gap: 130px;
}
footer h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
}
footer .ft1 p {
  width: 267px;
  margin: 18px 0px;
}
footer .ft2 {
  margin-left: 15px;
}
footer .line {
  width: 130px;
  height: 1px;
  background: #59554b;
  margin: 14px 0px 28px 0px;
}
footer p {
  margin-top: 12px;
}
footer strong {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.86;
}
footer .final .line {
  width: 1170px;
}
footer .nomarl {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
footer .nomarl p {
  justify-content: center;
  display: flex;
  color: #807d74;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
