* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
header .body {
  align-items: center;
}
a {
  text-decoration: none;
}
.fixed .body {
  display: flex;
}
nav {
  margin-left: auto;
}
nav ul {
  display: flex;
}
nav a {
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  margin: 0px 21px;
  position: relative;
}

nav a:hover {
  color: #171100;
  text-shadow: 0.8px 0 0 currentColor;
}

nav a::after {
  content: "";

  width: 0px;
  height: 2px;
  left: 0px;
  display: block;
  position: absolute;
  background: #171100;
  transition: all 0.3s ease;
}
nav a:hover::after {
  width: 100%;
}

.fixed {
  position: sticky;
  top: -28px;
  padding-top: 35px;
  z-index: 1000;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn1 {
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
  font-weight: 600;
  margin-left: 49px;
  min-width: 144px;
}
.btn2 {
  padding: 0px 34px;
  border-radius: 32px;
  background: #ffb900;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 64px;
}
.common {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.left-box .img {
  width: 470px;
  height: 685px;
}
.left-box {
  position: relative;
}
.media-box {
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 393px;
  left: 300px;
  padding: 24px;
}
.small-box {
  align-items: center;
}

.box2,
.box3 {
  margin-top: 22px;
}
.box3 {
  margin-bottom: 24px;
}
.text {
  margin-left: 16px;
}
.label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
.title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.icon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon1 {
  background-color: #fff9e8;
}
.icon2 {
  background-color: #fcefff;
}
.icon3 {
  background-color: #ebeaff;
}
.small-box {
  display: flex;
}
.box-leftright {
  display: flex;
}
.right-box {
  padding-left: 230px;
  padding-top: 64px;
}

.right-box .text1 {
  color: #171100;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
  font-family: Sen;
}
.right-box .text2 {
  color: #5f5b53;
  margin-top: 22px;
  font-size: 18px;
  line-height: 1.67;
}
.watch-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.button1 {
  border: none;
  background-color: #ffffff;
  color: #000000; /* Đổi màu chữ trắng cho dễ nhìn */
  display: flex;
  align-items: center;
  margin-left: 28px;
}
.button1 span {
  margin-left: 14px;
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
}
.iconn {
  display: flex;
  margin-top: 38px;
}

.flex-k {
  display: flex;
}
.flex-k span {
  color: #171100;
  font-family: Sen;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.23;
}
.flex-k .tt {
  margin-left: 29px;
}

.recent {
  color: #5f5b53;
  margin-top: 48px;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 8px;
}
.hero {
  background: #fffcf4;
  padding-bottom: 66px;
  padding-top: 64px;
}

.text-icon .text .p1 {
  color: #171100;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}
.text-icon .text .p2 {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  width: 458px;
}
.text-icon .text {
  display: flex;
}
.text-icon .text .icon {
  margin-left: auto;
}

.first-line {
  display: flex;
}
.first-line div {
  align-content: center;
  margin-left: auto;
}
.first-line .p1 {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
}
.first-line .p2 {
  color: #fea31b;
  font-size: 1.6rem;

  font-weight: 400;
  line-height: 1.75;
}
.pic-box {
  width: 370px;
  height: 466px;
  border: 1px solid #e2dfda;
  border-radius: 12px;
}
.outside-box {
  margin-left: 22px;
  margin-right: 22px;
}
.second-line p {
  color: #5f5b53;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
}
.third-line p {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
}
.third-line {
  display: flex;
}
.third-line a {
  margin-left: auto;
  background: #ffb900;
  padding: 0px 24px;
  font-weight: 600;
  font-size: 14px;
  min-width: 118px;
  line-height: 50px;
}
