* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.fixed .body {
  display: flex;
  margin-top: 4.7rem;
}
nav {
  margin-left: auto;
}
nav ul {
  display: flex;
}
nav a {
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  margin: 21px;
  position: relative;
}

nav a:hover {
  color: #171100;
  text-shadow: 0.8px 0 0 currentColor;
}

nav a::after {
  content: "";

  width: 0px;
  height: 2px;
  left: 0px;
  display: block;
  position: absolute;
  background: #171100;
  transition: all 0.3s ease;
}
nav a:hover::after {
  width: 100%;
}

.fixed {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
  
.btn {
  padding: 11px 41px;
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 49px;
}
